<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include ="fragments/head"></th:block>
<meta charset="UTF-8">

<body>
	<th:block th:include="fragments/navbarAdmin"></th:block>


	<div class="container">
	<form th:action="@{/mentorias}" th:object="${mentoria}" method="POST">
			<h1>Registro Mentoria</h1>	
			
			
		
			
			<div class="form-outline mb-4">
				<input
					type="date" id="start" class="form-control" value="2022-07-22"
					min="1990-01-01" max="2022-12-31" name="fecha" th:field="*{fecha}">
					<label class="form-label" for="start">Fecha</label> 
			</div>
			
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example4" class="form-control"
					name="dni" th:field="*{horaI}" /> <label class="form-label"
					for="form6Example4">Hora de inicio</label>
			</div>
			
			
				<div class="form-outline mb-4">
				<input type="text" id="form6Example4" class="form-control"
					name="dni" th:field="*{horaF}" /> <label class="form-label"
					for="form6Example4">Hora de fin</label>
			</div>
			
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example4" class="form-control"
					name="dni" th:field="*{descripcion}" /> <label class="form-label"
					for="form6Example4">Descripción</label>
			</div>
			
			
   <div class="form-outline mb-4">
				<label class="form-label" for="lista">Profesor</label> <select
					class="custom-select custom-select-sm " name="profesor" id="lista">
					<option th:each="profesor :${listaProfesores}" th:value="${profesor.id}"
						th:text="${profesor.nombres}" />
				</select>
			</div>
   
   
  
	
	
	
	
	
	
	
	<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>

			<br></br>
		</form>
	
	
	<th:block th:include ="fragments/footer"></th:block>
	<th:block th:include ="fragments/scripts"></th:block>
	
</body>
</html>