<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<th:block th:include="fragments/head"></th:block>
<meta charset="UTF-8">
<body>
	<th:block th:include="fragments/navbar"></th:block>

	<div class="container">
<br></br>
		<div class="card">
			<div class="card-header">Listado de notas de los estudiantes por profesor</div>
			<div class="card-body">
			
			
			
				<table class="table table-striped">
					<thead>
						<tr>

							<th scope="col">Nombre del profesor</th>
							<th scope="col">Id de mentoria</th>
							<th scope="col">Nota de estudiante</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="reto:${retos}">
							<td th:text="${reto.mentoria.profesor.nombres}">@mdo</td>
							<td th:text="${reto.mentoria.id}">@mdo</td>
							<td th:text="${reto.nota}">@mdo</td>

						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<br></br>
	</div>

	<th:block th:include="fragments/footer"></th:block>
	<th:block th:include="fragments/scripts"></th:block>

</body>