<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>
	<th:block th:include="fragments/navbarAdmin"></th:block>

	<div class="container">
		<form th:action="@{/libros}" th:object="${libro}" method="POST">
			<h1>SUBIR LIBRO ACADEMICO</h1>

			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="titulo" th:field="*{titulo}" /> <label class="form-label"
					for="form6Example3">Titulo del libro</label> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></small>
			</div>

			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="autor" th:field="*{autor}" /> <label class="form-label"
					for="form6Example3">Autor</label> <small
					class="form-text text-danger" th:if="${#fields.hasErrors('autor')}"
					th:errors="*{autor}"></small>
			</div>

			<div class="form-outline mb-4">
				<input type="date" id="start" class="form-control"
					value="2022-07-22" min="1990-01-01" max="2022-12-31" name="fecha"
					th:field="*{fPublicacion}"> <label class="form-label"
					for="start">Fecha publicacion</label> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('fPublicacion')}"
					th:errors="*{fPublicacion}"></small>
			</div>


			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="enlace" th:field="*{enlace}" /> <label class="form-label"
					for="form6Example3">Enlace del libro</label> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('enlace')}" th:errors="*{enlace}"></small>
			</div>




			<div class="form-outline mb-4">
				<label class="form-label" for="lista">Categoria</label> <select
					class="custom-select custom-select-sm " name="categoria" id="lista">
					<option th:each="categoria :${listaCategorias}"
						th:value="${categoria.id}" th:text="${categoria.nombre}" />
				</select>
			</div>

			<div class="form-outline mb-4">
				<input type="text" id="form6Example3" class="form-control"
					name="descripcion" th:field="*{descripcion}" /> <label
					class="form-label" for="form6Example3">Descripcion</label> <small
					class="form-text text-danger"
					th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
			</div>


			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>

			<br></br>
		</form>

	</div>
	<th:block th:include="fragments/footer"></th:block>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>