<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include ="fragments/head"></th:block>
<body>
	<th:block th:include="fragments/navbar"></th:block>


	<div class="container">
	<form th:action="@{/calificaciones}" th:object="${calificaciones}" method="POST">
			<h1>Registrar calificacion</h1>	
  

  	 <div class="form-outline mb-4">
				<label class="form-label" for="lista">Estudiante</label> <select
					class="custom-select custom-select-sm " name="estudiante" id="lista">
					<option th:each="estudiante :${listaEstudiantes}" th:value="${estudiante.id}"
						th:text="${estudiante.nombres}+' '+ ${estudiante.apellidos}" />
				</select>
	</div>
			
	 <div class="form-outline mb-4">
				<label class="form-label" for="lista">Libro</label> 
				<select
					class="custom-select custom-select-sm " name="libro" id="lista">
					<option th:each="libro :${listaLibros}" th:value="${libro.id}"
						th:text="${libro.titulo}" />
		  </select>
	</div>
	
	
	<small class="form-text text-danger" th:if="${#fields.hasErrors('estrellas')}"
					th:errors="*{estrellas}"></small>
	<div class="form-outline mb-4">
				<input type="number" id="form6Example6" class="form-control"
					name="estrellas" th:field="*{estrellas}" /> <label
					class="form-label" for="form6Example6">Estrellas</label>
			</div>
	
	
	
  	<br></br>
   
			<small class="form-text text-danger" th:if="${#fields.hasErrors('comentario')}"
					th:errors="*{comentario}"></small>
			<div class="form-group">
    <label for="exampleFormControlTextarea1">Comentario</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{comentario}"></textarea>
    
  </div>
			<br></br><br></br>
			
			
							
<div class="alert alert-danger alert-dismissable" th:if="${mensaje != null}" >
           <label th:text="${mensaje}"> </label> 
           <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>	

			
	<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>
		
		</form>
	
	

    </div>

--<th:block th:include ="fragments/footer"></th:block>
    <th:block th:include ="fragments/scripts"></th:block>	
	
</body>
</html>