<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include ="fragments/head"></th:block>
<meta charset="UTF-8">

<body>
	<th:block th:include="fragments/navbar"></th:block>


	<div class="container">
	<form th:action="@{/materiales}" th:object="${material}" method="POST">
			<h1>Registro Material</h1>	
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example4" class="form-control"
					name="dni" th:field="*{nombre}" /> <label class="form-label"
					for="form6Example4">Nombre</label>
			</div>
			
			<div class="form-outline mb-4">
				<input type="text" id="form6Example4" class="form-control"
					name="dni" th:field="*{descripcion}" /> <label class="form-label"
					for="form6Example4">Descripcion</label>
			</div>
			
			<div class="form-outline mb-4">
				<input type="url" id="form6Example4" class="form-control"
					name="dni" th:field="*{enalce}" /> <label class="form-label"
					for="form6Example4">Enlace</label>
			</div>
			
			<div class="form-outline mb-4">
                <label class="form-label" for="lista">Mentoria</label> <select
                    class="custom-select custom-select-sm " name="mentoria" id="lista">
                    <option th:each="mentoria :${listaMentorias}" th:value="${mentoria.id}"
                        th:text="${mentoria.descripcion}" />
                </select>
            </div>
			
			<button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>
			
			
		
		
		
	</form>	
			
	</div>
	
	
	
	<th:block th:include ="fragments/footer"></th:block>
	<th:block th:include ="fragments/scripts"></th:block>
	
</body>
</html>